# Common
**/node_modules/
**/.DS_Store
**/*.log
**/*-debug.log*
**/coverage/
**/.env*.local
**/.env
**/*.tsbuildinfo
**/.vercel/
**/.nyc_output/
**/.yarn/
**/.pnp*
**/*.pem
**/logs/

**/.idea/
**/.project
**/.classpath
**/.c9/
**/*.launch
**/.settings/
**/*.sublime-workspace
**/.vscode/*
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/extensions.json

# Client
/client/.next/
client/out/
client/build/
client/next-env.d.ts

# Server
/server/dist/
